*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-background: #f9f6f1;
  --color-text: #33373d;
  --color-accent-primary: #a38e7e;
  --color-accent-subtle: #eae5e0;

  --font-family-heading: var(--font-lora);
  --font-family-body: var(--font-lato);
  --font-family-accent: var(--font-special-elite);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-body);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

a {
  color: var(--color-accent-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

*:focus-visible {
  outline: 3px solid var(--color-accent-primary);
  outline-offset: 3px;
  border-radius: 0.25rem;
}
